/****************************\
    default styling
\****************************/

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  font-family: poppins;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: auto;
}

/****************************\
    menu styling
\****************************/

header {
  background-color: black;
  overflow: hidden;
  height: 100vh;
}
.container .nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__menu ul li {
  display: inline-block;
}
.nav .nav__menu ul li a {
  color: white;
  font-size: 16px;
  padding: 20px 0px;
  margin-right: 20px;
  display: inline-block;
}
.nav .nav__menu ul li a:hover {
  color: crimson;
}
.nav .nav__btn a {
  padding: 8px 30px;
  background-color: crimson;
  color: white;
  border: 1px solid crimson;
  font-size: 16px;
  border-radius: 5px;
}
.nav .nav__btn a i {
  margin-right: 10px;
}

/****************************\
    Copa america part styling
\****************************/

header .container .copa {
  display: flex;
  align-items: center;
  margin-top: 130px;
  padding-bottom: 60px;
}
header .container .copa .copa__left__content {
  width: 55%;
}
header .container .copa .copa__left__content a {
  padding: 8px 30px;
  background-color: crimson;
  color: white;
  border: 1px solid crimson;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 30px;
  display: inline-block;
}
header .container .copa .copa__left__content a i {
  margin-left: 10px;
  display: none;
}
header .container .copa .copa__left__content a:hover i {
  display: inline-block;
}

header .container .copa .copa__left__content h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
}
header .container .copa .copa__right__content {
  width: 45%;
}
header .container .copa .copa__right__content .image img {
  width: 100%;
}

/****************************\
    All players part styling
\****************************/
.all_players {
  margin-top: 100px;
}
.players__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.players__list .card {
  width: 25%;
  box-shadow: 0px 0px 10px rgb(214, 240, 245);
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.players__list .card img {
  width: 100%;
  border-radius: 10px;
}
.players__list .card .card__content h1 {
  color: #3c3c3c;
  margin-top: 10px;
}
.players__list .card .card__content p {
  font-size: 16px;
  color: #3c3c3c;
  margin-top: 10px;
}
